line-color = #ccc
accent-color = red

body
  display:flex
  font-family:'Open Sans', sans-serif
  flex-direction:column
  position:absolute
  top:0px
  left:0px
  right:0px
  bottom:0px
  
  .header
    flex:0 0 49px
    margin:0px
    border:0px
    background:white
    border-radius:0
    border-bottom:1px solid line-color
    
    .top-menu
      height:49px
      display:flex
      overflow-y:hidden
      
      &.open
        overflow-y:visible
        
        .scroll
          position:fixed
          left:0px
          right:0px
          height:auto !important
          bottom:0px
          z-index:10
          top:0px
        
        .scroll-arrow
          display:none
        
      
      .scroll-arrow
        border-left:1px solid #ececeb
        flex:0 0 30px
        display:flex
        align-items:stretch
        background:white
        @media screen and (min-width: 768px)
          display:none
          
        div
          padding:10px 0px
          text-align:center
          flex:1
          color:#ccc
          
          i
            font-size:20px
            
        .active
          color:#000
      
      .burger
        position:fixed
        left:0px
        background:white
        top:0px
        z-index:11
        height:49px
        width:50px
        text-align:center
        line-height:50px
        font-size:32px
        cursor:pointer
        border-right:1px solid line-color
        
        &:hover
          background:#ececeb
          
      .scroll
        flex:1
        padding-left:50px
        overflow-y:auto
        height:80px
          
    .navbar-nav 
      margin:0px
      font-size:0
      border-radius:0px
      white-space:nowrap
      
      > .dropdown
        .dropdown
          .dropdown-menu
            top: 0
            left: 100%
            margin-top: -5px
            margin-left: 0px
            border:1px solid line-color
            border-radius:0px
          
          > a:before
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 4px 0 4px 4px;
            border-left-color: #000;
            margin-top: 5px;
            margin-right: -20px;
          
          &.active
            > a:before
              border-left-color: #fff;
        
        .no-menu > a:before
            display:none
          
    
      > .open 
        > a
          border-left:1px solid line-color
          border-right:1px solid line-color
        
        .dropdown-menu
          position:absolute
          background:white
          z-index:12
          margin-top:1px
          border:1px solid line-color
          border-radius:0px
          border-top:0px
          box-shadow:0 6px 12px rgba(0,0,0,.175)
          
          > li > a
            padding-left:10px
            padding-right:25px
      
      > .dropdown:first-child 
        > a 
          border-left:1px solid transparent
        
        > .dropdown-menu
          margin-left:-1px
        
        
      > .dropdown:last-child > .dropdown-menu
        right: 0px
        left: auto
      
      > li
        display:inline-block
        
        &:hover,
        &:active,
        &:focus
          background:#fafafa
          color:#222
        
        > a
          height:49px
          display:inline-block
          box-sizing:border-box
          border-left:1px solid transparent
          border-right:1px solid transparent
          border-top:1px solid transparent
          align-items:center
          color:#666
          font-size:14px
          font-weight:bold
          line-height:49px
          padding:0px 35px 0px 15px
          
          & > .caret
            float:right
            margin-top:23px
            margin-right:-25px
          
          & > i 
            float:left
            margin-left:-5px
            margin-right:5px
            margin-top:18px
      
        &.active > a
          border-top:1px solid accent-color
          color:accent-color
          background:#fafafa
        
        &.no-menu > a
          padding-right:15px
        
    .dropdown-menu>.active>a, 
    .dropdown-menu>.active>a:focus, 
    .dropdown-menu>.active>a:hover
      background:accent-color
      opacity:.7
      
  .main
    flex:1
    position:relative
    overflow:auto
    
    .error-container, .info-container 
      margin:0px -15px !important
      border-radius:0px