
.btn-group.open .dropdown-toggle {
    box-shadow:none !important;
}
      
hr {
    margin:5px 0px;
}

/**
  Dropdown
*************************************/

div[dropdown] a {
    outline: 0px;
}

div[dropdown] .search {
    margin-bottom: 5px;
    padding: 6px 8px;
    border-bottom: 1px solid #ececeb;
}

div[dropdown] .search input {
    font-family: Arial, FontAwesome;
}

div[dropdown]  .dropdown-menu.inner {
    overflow-y: auto;
    width: 100%;
    position: static;
    border: 0;
    padding: 0;
    margin: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

div[dropdown] > .dropdown-menu > .dropdown-menu.inner {
    max-height: 180px;
}

div[dropdown] .dropdown-other {
    padding: 0px;

}

div[dropdown] .dropdown-other-icon {
    color: #999;
    margin: -21px 0px 0px 10px;
    float: left;
}

div[dropdown] .dropdown-other-type {
    background: transparent;
    border: 0px;
    box-shadow: none;
    padding: 0px 0px 0px 30px !important;
    margin-top: -5px;
}

div[dropdown] .btn-dropdown-field {
    text-align: left;
    overflow-x: hidden;
}

div[dropdown] .btn-dropdown-field .dropdown-text {
    display: inline-block;
    text-align: left;
}

div[dropdown] .btn-dropdown-field .caret {
    float: right;
    margin-top: 7px;
}

div[dropdown] .split-button {
    width: 20px;
    position: absolute;
    z-index: 5;
    right: 0px;
    padding: 5px 10px 12px 20px;
    border-radius: 0px 4px 4px 0px;
}

div[dropdown] button:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

div[dropdown] > .dropdown-menu {
    min-width: 50px;
    padding: 4px 0px;
    overflow-x: hidden;
    min-width: 100%;
}

div[dropdown] .dropdown-menu-header {
    padding: 5px 0px 0px 10px;
    font-weight: bold;
    font-size: 11px;
    color: #999;
    text-transform: uppercase;
}

div[dropdown] .dropdown-menu-header-line {
    border-bottom: 1px solid #ececeb;
    margin-left: -10px;
    margin-top: 5px;
}

div[dropdown] .dropdown-menu-header-text {
    float: left;
    margin-top: -7px;
    background: white;
    padding: 0px 5px;
}

div[dropdown] .dropdown-menu-submenu {
    margin: 0px -20px;
}

div[dropdown] .dropdown-menu-submenu li a {
    padding-left: 35px;
}

/**
  UI.Layout CSS
*************************************/
.stretch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Can be changed by hand ;)*/
    overflow: auto;
}

#content > div > .stretch {
    top: 45px;
}

#builder > .stretch {
    top:45px !important;
}

[ui-header] {
    font-size:13px;
    padding:0px 10px;
    border-bottom:1px solid #ddd;
    background:white;
    line-height: 28px;
}
.container-fluid [ui-header],
.container-fluid [ui-content] {
    margin-left: -15px;
    margin-right: -15px;
}
.ui-layout-container > [ui-header] > i {
    padding:1px 0px 0px 4px;
}
.ui-layout-container > [ui-content] {
    position:absolute;
    top:28px;
    left:0px;
    right:0px;
    bottom:0px;
}

[ui-layout] {
    overflow:hidden;
}

.ui-splitbar {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-justify-content: center;
    justify-content: center;

    right: auto;
    width: 4px !important;
    position: absolute;
    z-index: 9;
    overflow: visible !important;
}

.ui-layout-row > .ui-splitbar {
    height: 8px;
    width: 100%;
    cursor: row-resize;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.ui-layout-column > .ui-splitbar {
    width: 8px;
    height: 100%;
    cursor: col-resize;
    -webkit-flex-direction: column;
    flex-direction: column;
    border-left: 1px solid #ddd;
}

.ui-layout-column > .ui-splitbar > a,
.ui-layout-row > .ui-splitbar > a {
    color: #ccc;
    cursor: pointer;
    font-size: 9px;
    width: 14px !important;
    display: block;
    background: #fff;
    text-align: center;
    border: 1px solid #ccc;
}

.ui-layout-column > .ui-splitbar > a {
    display:none !important;
    padding: 3px 0px;
    margin-top: -1px;
    margin-left: -7px;
}

.ui-splitbar > a:hover {
    opacity: 1;
    background: #ccc;
    color: #fff;
}

/****************************** EXPR-FIELD *******************************/
[expression-field] {
    border-right: 0px !important;
}

/******************************** TREE  *********************************/

.angular-ui-tree {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    -o-user-select: none;
}

.angular-ui-tree-empty {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    opacity: .1;
    pointer-events: none;
}

.angular-ui-tree-nodes {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 20px
}

.angular-ui-tree-node, .angular-ui-tree-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}

.angular-ui-tree-node.inline, .angular-ui-tree-placeholder.inline {
    display: inline-block;
}

.angular-ui-tree-node.inline > .form-field {
    display: block;
    padding: 0px;
    margin: 0px;
}

.angular-ui-tree-node[collapsed=true] > .angular-ui-tree-nodes {
    display: none;
}

.angular-ui-tree-node[data-collapsed=true] > .angular-ui-tree-nodes {
    display: none;
}

.angular-ui-tree-hidden {
    display: none
}

.angular-ui-tree-handle {
    cursor: pointer;
    display: block;
    text-decoration: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 20px;
    padding: 1px 5px;
    font-size: 12px;
    color: #555;
    line-height: 20px
}

.ui-tree-handle-info {
    float: right;
    opacity: .3;
    margin-left: 10px;
}

.angular-ui-tree-handle:hover {
    background: #efefef;
    color: black;
}

.angular-ui-tree-handle.active {
    color: white;
    background: #37474F;
}

.angular-ui-tree-handle i {
    margin-right: 3px;
}

.angular-ui-tree-handle i.fa-caret-right {
    width: 7px;
}

.angular-ui-tree-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .8
}

.message {
    background: rgba(255,255,255,.9);
    border: 1px solid #d3d2d2;
    padding: 0px 28px;
    color: #555;
    border-radius:4px;
    overflow: hidden;
    font-size: 13px;
    text-align: center;
    width: 50%;
    height: 85px;
    line-height: 80px;
    display: inline;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

li > .item-btn {
    display: none;
    position: absolute;
    right: 0px;
    padding: 0px 3px;
    margin: 2px 1px 0px 0px;
    font-size: 11px;
}

li:hover > .item-btn {
    display: block;
}

.sidebar-tree {
    word-break: break-all;
    padding-left: 20px;
}

.sidebar-tree i.fa-caret-right, .sidebar-tree i.fa-caret-down {
    margin-left: -12px;
}

.menu-tree {
    position: fixed;
    z-index: 155;
    cursor: pointer;
}

/********************************** GRID VIEW *********************************/

.data-grid-paging {
    font-size:13px;
    line-height:13px;
}

@media only screen and (max-width: 768px) {
    .data-grid-paging {
        border:1px solid #ececeb;
        background:#fafafa;
        padding:5px 5px 5px 5px !important;
        margin-bottom:5px;
    }
    .data-grid-paging .clearfix {
        margin-bottom:-5px;
    }
    
    .data-grid-pagination,
    .data-grid-pageinfo {
    }
    
    .data-grid-pageinfo.pull-right {
        margin-top:-2px;
        margin-bottom:4px;
    }
    
    [grid-view] [ng-include] {
        overflow-x:auto;
        max-width:100%;
    }
    
    [grid-view] .data-grid-paging .paging-total-record { 
        border:1px solid #ccc;
        background:white;
        padding:5px;
        margin:0px 5px 4px 7px;
    }
    
    .tcols-container,
    .thead {
        display:none !important;
    }
}

/********************************* COLUMN FIELD ********************************/

.form-builder li .ColumnField {
    padding: 0px;
    border: 0px !important;
    background: transparent;
    position: relative;
}

.form-builder li .ColumnField .ColumnField {
    margin: -1px;
}

.ColumnField.active {
    padding: 0px;
}

.ColumnField:hover, .ColumnField.active {
    background: url('../img/bg-column.png') !important;
}

.form-builder-column {
    padding: 0px 0px 0px 0px;
    border-left: 1px dashed #ececeb;
    vertical-align: top;
}

.ColumnField .form-field-content table {
    border: 1px dashed #ececeb;
}

.ColumnField.active .form-field-content table {
    border: 1px solid blue;
}

.ColumnField.active .form-field-content .form-builder-column {
    border-left: 1px solid blue;
}

.column-placeholder-handle {
    position: absolute !important;
    top: -1px !important;
    left: -1px !important;
    width: 1px !important;
    padding: 0px !important;
    height: 0px !important;
    min-height: 0px !important;
    line-height: 0px !important;
    cursor: default !important;
    display: none !important;
}

.field.column-placeholder {
    min-height: 50px;
    height: 100%;
    display: block;
    width: 100%;
    padding: 0px !important;
    min-height: 0px !important;
}

.form-builder-column .angular-ui-tree-nodes {
    padding-left: 0px;
}

.form-builder-column > .angular-ui-tree-nodes {
    height: 100%;
}

@media only screen and (min-width: 768px) {
    .column-field {
        width: 100%;
        vertical-align: top;
        display: table;
        border-collapse:collapse;
    }
    
    .column-field > .column-field-row {
        display: table-row;
    }
    
    .column-field > .column-field-row  > .column-field-cell {
        display:table-cell;
        vertical-align: top;
        margin-left: -5px;
    }
    
    .column-field > .column-field-row > .column-field-cell > .column-field-inner {
        padding: 25px 50px 25px 25px;
    }
}

@media only screen and (max-width: 768px) {
    .column-field-cell {
        width:100% !important;
        border-right:0px !important;
        border-left:0px !important;
        padding:10px 0px !important;
        border-bottom:1px solid #ececeb;
    }
}
/****************************** SECTION-HEADER ********************************/

.section-header {
    border: 1px solid #ececeb;
    border-left: 0px;
    border-right: 0px;
    background: #fafafa;
    padding: 4px 20px;
    color: #333;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    line-height: 18px;
    margin: 0px -15px 0px -15px;
}

.column-field .section-header {
    margin: 0px -50px 25px -25px;
}

.column-field td:first-child .section-header {
    margin-left: -40px;
}

.column-field td:last-child .section-header {
    margin-right: -65px;
}

.SectionHeader {
    margin: 0px -30px;
    border-left: 0px;
    border-right: 0px;
}


/********************************* LIST VIEW ***********************************/
div[list-view] {
    margin-top:5px;
}

div[list-view] .angular-ui-tree-empty {
    display: none;
}

div[list-view] .angular-ui-tree-nodes div[list-view]  .angular-ui-tree-nodes {
    padding-left: 0px !important;
}

div[list-view] .angular-ui-tree-nodes div[list-view]  .list-view-item-move {
    display: none;
}

div[list-view] .angular-ui-tree-nodes div[list-view]  .list-view-item-container {
    margin-left: 0px;
    border-left: 0px;
}

.list-view-item {
    padding: 3px 3px 2px 3px;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    padding: 0px;
    background: #fafafa;
    border-radius: 3px;
}

.list-view-loading {
    padding: 10px;
    text-align: center;
    color: #999;
    font-size: 13px;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    background: #fafafa;
    border-radius: 3px;
}

.list-view-item-remove {
    opacity: .5;
    border: 0px;
    background: none;
    position: absolute;
    margin-left: -22px;
    z-index: 1;
    margin-top: 2px;
}

.list-view-item-remove:hover {
    background: #ececeb;
    color: red;
}

.list-view-item-move {
    opacity: .5;
    border: 0px;
    background: none;
    position: absolute;
    margin-right: -21px;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    padding: 2px 2px 0px 5px;
}

.list-view-item-container {
    margin-right: 23px;
    margin-left: 22px;
    padding: 4px 4px 0px 4px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background: white;
    min-height: 25px;
    opacity: 0;
}

.list-view-item-container.disable-delete {
    margin-right:-1px;
    padding-right:28px;
}


.list-view-item-container > .column-field {
    margin-top:-4px;
}

div[list-view] .list-view-item-container {
    opacity: 1;
}

.list-view-item-container td {
    padding: 0px !important;
}

.list-view-item-container .column-field > div {
    padding-left: 4px !important;
}

.list-view-item-container .column-field > div:first-child {
    padding-left: 0px !important;
}

.list-view-add {
    color: #888;
    margin: 6px 0px;
    font-size: 13px;
    padding: 3px 10px;
}

.list-view-item-container.unsorted {
    margin-left: -1px;
}

div[list-view].flat .angular-ui-tree-nodes > li {
    border-radius: 0px;
    margin: -6px 0px 5px 0px;
}

div[list-view].flat .angular-ui-tree-nodes > li:first-child {
    margin: 0px 0px 5px 0px;
}


/********************************** FORMS **************************************/
.required {
    display:inline-block;
    color: red;
}

.invisible {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.form-group {
    margin-bottom: 5px;
}
/************************** TAB PANE *********************************/

.tab-set {
    margin: 0px -15px;
}

.tab-set .tab-pane {
    padding: 0px 15px;
}

.tab-set .nav-tabs {
    font-weight: bold;
    font-size: 11px;
    padding-left: 10px;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fafafa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #fafafa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #fafafa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #fafafa 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #fafafa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fafafa', GradientType=0); /* IE6-9 */

    border-bottom: 1px solid #ccc;
}

.tab-set .nav-tabs > li > a {
    padding: 4px 8px 3px 8px;
    border-radius: 3px 3px 0px 0px;
    color: #888;
    border: 1px solid #dedede !important;
    border-bottom: 0px !important;
    margin-top: 5px;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.tab-set .nav-tabs > li.active > a {
    border: 1px solid #ccc !important;
    border-bottom: 0px !important;
    color: #000;
    background: rgba(255, 255, 255, 1);
}

.tab-set .nav-tabs > li.active > a > tab-heading {    
    margin: -4px -8px -5px -8px;
    padding: 4px 8px 3px 8px;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: white;
    display:block;
}

.tab-set.single-tab .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0px;
}


/************************** ACTION BAR  *********************************/
[ps-action-bar] {
  width: 100% !important;
  position: relative;
  top: auto !important;
  left: auto !important;
}
[ps-action-bar] .action-bar {
  display: flex;
  margin: 0px -15px -1px -15px;
  align-items: center;
  padding: 10px 5px 5px 15px;
  border-bottom: 1px solid #ccc;
}
[ps-action-bar] .action-bar .title-bar {
  flex: 1;
}
[ps-action-bar] .action-bar .title-bar .title {
  font-size: 18px;
  font-weight: bold;
}
[ps-action-bar] .action-bar .link-bar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
[ps-action-bar] .action-bar .link-bar .separator {
  display: none;
}
[ps-action-bar] .action-bar .link-bar .btn {
  margin-right: 5px;
  border-radius: 2px;
  margin-bottom:5px;
  font-size:14px;
}
[ps-action-bar] .action-bar .clearfix {
  display: none;
}
[ps-action-bar] .action-bar .action-tab {
  display: none;
}


/************************** TOGGLE SWITCH  *********************************/
.label-white {
    background: white;
    color: #333;
}

.label-field-value {
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 4px;
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 19px;
    border: 1px solid #ececeb;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0px;
}

.switchery {
    background-color: #ececeb !important;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: relative;
    vertical-align: middle;
    width: 50px;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.switchery > small {
    background: #ffffff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    height: 30px;
    position: absolute;
    top: 0;
    width: 30px;
}

.switchery {
    margin-top: 2px;
    height: 25px;
    /*width: 35px;*/
}

.switchery > small {
    height: 25px;
    width: 25px;
    /*top: 5%;*/
}

.small + .switchery {
    height: 15px;
    width: 25px;
}

.small + .switchery > small {
    height: 16px;
    width: 16px;
}

[toggle-switch] .error,
[radio-button-list] .error {
    border: 0px;
    border-radius: 3px;
    margin-top: 5px;
}

.toggle-switch-field {
    white-space: nowrap;
}

.toggle-switch-field > div {
    display: inline-block !important;
}

.toggle-switchery {
    float: left;
    margin-top: -2px;
}

.switchery-label {
    border-radius: 0px;
    padding: 3px 7px 2px 7px;
    margin: 6px 7px;
    font-size: 11px;
    color: #37474f;
}

.switchery-label {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.switchery-label.label-success {
    background: #fff;
}

.switchery-label.label-default {
    background: #fff;
}

.switchery-label.switchery-label-small {
    padding: 0px 0px 0px 6px;
    background: none;
    font-weight: bold;
    font-size: 12px;
    margin: 0px;
}

.switchery-label.label-success.switchery-label-small {
    color: #67C03D;
}

.switchery-label.label-default.switchery-label-small {
    color: #999;
}


.input-group.inline {
    display: block;
    float: left;
    margin: 3px 4px 4px 0px;
    padding: 0px 5px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: normal;
}

label input[type=checkbox], label input[type=radio] {
    margin: 5px 4px 2px 0px;
    float: left;
}
label.input-group {
    font-size: 13px;
    font-weight: normal;
}