.navbar, #widget-container, .link-bar, .ac-print, [ps-data-filter], .data-grid-paging {
    display:none;
}
.btn {
    display:none !important;
}

.print-bar {
    border:0px !important;
}
.action-bar {
    box-shadow:none;
}

.container-full {
    margin-top:0px !important;
}
.title-bar {
    padding:0px !important;
}
.action-bar-container, .stretch {   
    position:relative;
    top:auto !important;
    left:auto !important;
    width:auto !important;
    bottom:auto !important;
    right:auto !important;
    height:auto !important;
}
.ngHeaderCell, .ngHeaderText{
    background: #000 !important;
    color : #ffffff !important;
    border-color:#000 !important;
}
.ngCell{
    background-color:  #FFF !important;
    border-color :#000000 !important;
}
.ngVerticalBarVisible{
    background-color:  #000000 !important;
}
.ngAggregate{
    box-shadow: 0px 0px 0px 1px #000, inset -1px 0px 0px 0px #000, inset 1px 0px 0px 0px #000, inset 0px -1px 0px 0px #000 !important;
}

.dataTable.handsontable tr td{
    color: #000 !important;
}

.dataTable.handsontable tr:nth-child(odd) td{
    background-color:  #FFF !important;

} 