.handsontable table {
}

.handsontable table th .relative {
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top, #f5f5f5, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee);
    background-image: -o-linear-gradient(top, #f5f5f5, #eeeeee);
    background-image: linear-gradient(to bottom, #f5f5f5, #eeeeee);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd5f5f5', endColorstr='#ffeeeeee', GradientType=0);
    white-space: nowrap;
    text-transform: uppercase;
    color: #5E5E5E;
    font-size: 11px;
    padding: 4px 4px 4px 8px;
    line-height: 20px;
    text-align: left;
    min-height: 20px;
    font-weight: bold;
    cursor:default;
}
.handsontable table .header-grouping th .relative {
    text-align:center;
}
.handsontable table th .relative .columnSorting {
    display: block;
    cursor: pointer;
}

.handsontable table th .relative .columnSorting {
    display: block;
    cursor: pointer;
}

.handsontable table th .sortArrow {
    right: 5px;
    top: 50%;
    left: auto;
    position: absolute;
    border-color: gray transparent;
    border-style: solid;
    height: 0;
    width: 0;
    margin: -2px 0px 0px 0px;
}

.handsontable table th .sortArrow.asc {
    border-width: 0 4px 4px 4px;
}

.handsontable table th .sortArrow.desc {
    border-width: 4px 4px 0 4px;
}

.handsontable table th .relative .columnSorting:hover {
    text-decoration: none;
}

.handsontable td, .handsontable th {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 4px 8px 0px 8px;
    font-size: 13px;
    line-height: 20px;
}

.handsontable .manualColumnResizer {
    height: 29px;
}

.dataTable.handsontable tr:nth-child(odd) td {
    background: #FAFAFA;
}

.dataTable.handsontable tr td.current {
    background: #fff;
}

.dataTable.handsontable .htCore tbody td.area {
    background: #dce4ff;
}

.dataTable.handsontable tr td:hover {
    background: #e8f0ff;
}

.dataTable.handsontable tr td.currentRow,
.dataTable.handsontable tr td.currentCol {
    background: #eef4ff;
}

.dataTable.handsontable > .htContainer > .wtHolder > .wtHider > .wtSpreader > .htCore .htDimmed {
    box-shadow: inset 0px 0px 0px 9999px rgba(0, 0, 0, .05);
}

.handsontable .header-grouping th {
    padding-bottom: 0px !important;
}

.handsontable tr:first-child td, .handsontable tr:first-child th {
    border-top: 1px solid #ddd;
}

.handsontable th:last-child {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.handsontable .htNoFrame + td, .handsontable .htNoFrame + th, .handsontable td:first-child, .handsontable th:first-child {
    border-left: 1px solid #ddd;
}

.handsontable.listbox {
    margin-top: -5px;
    padding-right: 0px;
}

.handsontable.listbox .ht_master table {
    display: table;
}

.handsontable .handsontable table {
    box-shadow: none;
}

.wtHolder tbody th {
    height: 0px !important;
    padding: 0px !important;
}

.wtHolder {
    height: auto !important;
}

.handsontable.listbox .wtHider {
    padding-bottom: 0px !important;
}

.handsontable.listbox .htDimmed {
    border: 0px !important;
}

.handsontableInput {
    box-sizing: content-box;
    min-height: 23px !important;
    line-height: 24px !important;
    padding: 0px 0px 0px 6px;
    overflow-y:hidden !important;
    font-size: 13px !important;
}

.data-table-container .ht_clone_corner {
    display: none;
    pointer-events: none;
}

.data-table-container .ht_clone_left {
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.data-table-container .ht_clone_top {
    opacity: 0;
    pointer-events: none;
    z-index: 100;
}

.data-table-container .ht_clone_top .cbHead {
    display: none;
}

.ht_clone_left.handsontable > div > div > div.wtSpreader > table > thead > tr:first-child {
    opacity: 0;
}

.data-table-container .ht_clone_top .htCore {
    border-bottom: 1px solid #ddd;
}

[ps-data-table] .ht_top table {
    border-bottom: 1px solid #ddd;
}

[ps-data-table] .ht_top {
    display: none;
    position: fixed !important;
}

[ps-data-table].fixed .ht_top {
    display: block;
    position: fixed !important;
}

[ps-data-table] {
    padding-top: 12px;
    padding-bottom: 12px;
}

.handsontable td.groups {
    cursor: default !important;
    background: #ffc !important;
    box-shadow: none !important;
    text-transform: uppercase;
    color: #6F6F6F;
    font-size: 11px;
    font-weight: bold;
    cursor:pointer !important;

    white-space: pre !important;
    border-right: 0px !important;
}

.handsontable td .groupsArrow {
    width: 0;
    height: 0;
    display:inline-block;
    border-style: solid;
    border-width: 0 0 9px 9px;
    border-color: transparent transparent #555 transparent;
}

.handsontable td.htInvalid {
    color: #Fff !important;
    background: #ff4c42 !important;
}

.handsontable td.groups:last-child {
    white-space: pre;
    border-right: 1px solid #ddd !important;
}

.handsontable td.single-line {
    white-space: pre;
}

.gr.fa {
    position: absolute;
    margin: 4px 0px 0px -5px;
    width: 20px;
    color: black;
}

.empty {
    background: #fff !important;
    box-shadow: none !important;
    cursor: default;
    border: 0px;
}

.total {
    background: #efefef !important;
    box-shadow: none !important;
    cursor: default;
    color: #555 !important;
    font-size: 12px !important;
    font-weight: bold;
    border-top: 1px solid #ddd;
}

.read-only .htAutocompleteArrow {
    display: none;
}

.read-only .dataTable.handsontable > .htContainer > .wtHolder > .wtHider > .wtSpreader > .htCore .htDimmed {
    box-shadow: none;
}

.read-only .dataTable.handsontable td {
    cursor: default;
}

.link-mode .handsontable .wtBorder {
    display: none !important;
}

.link-mode .dataTable.handsontable tr td:hover, .read-only .dataTable.handsontable tr td.current {
    background: transparent;
}

.link-mode .dataTable.handsontable tr td:hover, .read-only .dataTable.handsontable tr td.current {
    background: transparent;
}

.link-mode .dataTable.handsontable .htCore tbody td.area {
    background: transparent;
}

.link-mode .dataTable.handsontable tr td.currentRow,
.link-mode .dataTable.handsontable tr td.currentCol {
    background: transparent;
}

.link-mode .dataTable.handsontable tr:hover td {
    background: #ececeb;
    cursor: pointer;
}

.link-mode .dataTable.handsontable tr td.currentRow,
.link-mode .dataTable.handsontable tr td.highlight,
.link-mode .dataTable.handsontable tr td.area {
    background: #ffc !important;
    cursor: pointer;
}

.handsontable .header-grouping th.currentCol .relative {
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top, #f5f5f5, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee);
    background-image: -o-linear-gradient(top, #f5f5f5, #eeeeee);
    background-image: linear-gradient(to bottom, #f5f5f5, #eeeeee);
    background-repeat: repeat-x;
}

.handsontable th.currentRow .relative {
    background: #d6e1f6 !important;
}

.handsontable.listbox .ht_master table {
    border: 0px;
}


.handsontable .autocompleteEditor.handsontable {
    background: #ddd;
    padding-right: 0px !important;
    border: 1px solid #ddd;
    overflow: hidden !important;
}
.handsontable .autocompleteEditor.handsontable:hover {
    padding-right: 17px !important;
    overflow: auto !important;
}

.listbox.current {
    background: #e8f0ff !important;
}

.cell-loading {
    background: #FFC !important;
}

.cbHead {
    margin: 4px -4px -4px 0px !important;
    float: left;
}

.cbCell {
    cursor: default;
    text-align: center;
}

.cbCell input {
    float: none;
    pointer-events: none;
}

.cbCell.cbGroupOnly {
    pointer-events: none;
}

.cbCell.cbGroupOnly input {
    opacity: .4;
}

.cbCell.groups.cbGroupOnly {
    pointer-events: auto;
}

.cbCell.groups.cbGroupOnly input {
    display: block;
    opacity: 1;
}

.full-width.dataTable,
.full-width .ht_master {
    width:100% !important;
}