.dataTable {
    margin-top:15px;
}

.handsontable table {
}

.handsontable table th .relative {

    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top,#f5f5f5,#eeeeee);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#eeeeee));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#eeeeee);
    background-image: -o-linear-gradient(top,#f5f5f5,#eeeeee);
    background-image: linear-gradient(to bottom,#f5f5f5,#eeeeee);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd5f5f5', endColorstr='#ffeeeeee', GradientType=0);
    white-space: nowrap;
    text-transform: uppercase;
    color:#5E5E5E;
    font-size:11px;
    padding:4px 10px;
    line-height:20px;
    font-weight:bold;
}

.handsontable td, .handsontable th {
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding: 4px 8px 0px 8px;
    font-size: 13px;
    line-height: 20px;
}

.dataTable.handsontable tr:nth-child(odd) td{
    background:#FAFAFA;
}

.dataTable.handsontable .htCore tbody td.area {
    background:#EEF4FF;
}

.handsontable tr:first-child td, .handsontable tr:first-child th {
    border-top:1px solid #ddd;
}
.handsontable th:last-child {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.handsontable .htNoFrame+td, .handsontable .htNoFrame+th, .handsontable td:first-child, .handsontable th:first-child {    
    border-left: 1px solid #ddd;
}


.handsontableInput {
    box-sizing:content-box;
    line-height:23px;
    padding: 0px 8px 0px 8px;
}

.data-table-container .ht_clone_top {
    display:none;
    position:fixed !important;
}
.data-table-container.fixed .ht_clone_top {
    display:block;
    position:fixed !important;
}