.tree-container {
     display: flex;
     flex-direction: column;
     height: 100%;
     position: relative;
}

.tree-empty small {
     line-height: 18px;
     display: block;
     margin-top: 10px;
}

/************************** TREEBAR ************************************/

.treebar {
     flex: 0 0 30px;
     background: #8a95a0;
     display: flex;
}

.treebar .overflow {
     flex: 1;
     width: 20px;
     height: 30px;
     display: flex;
     justify-content: flex-end;
}

.treebar .overflow .fixed {
     position: fixed;
     z-index: 101;
     width: 1px;
     height: 30px;
     margin-right: -1px;
     background: #8a95a0;
     opacity: 1;
}

.treebar .tbtn {
     flex: 0 0 30px;
     text-align: center;
     user-select: none;
     -webkit-user-select: none;
     width: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.treebar .tbtn img {
     -webkit-filter: invert(100%);
     filter: invert(100%);
}

.treebar .tbtn.active {
     background: rgba(255, 255, 255, 1);
}

.treebar .tbtn.active img {
     -webkit-filter: invert(0%);
     filter: invert(0%);
}


/************************** TREE SEARCH ************************************/

.treesearch {
     flex: 0 0 27px;
     border-bottom: 1px solid #ccc;
     background: white;
     position: relative;
}

.treesearch.detail {
     flex: 0 0 50px;
}

.treesearch .icon {
     position: absolute;
     line-height: 24px;
     right: 0px;
     padding: 0px 8px 3px 8px;
     z-index: 1;
     cursor: pointer;
     text-align: center;
}

.treesearch .icon i {
     font-size: 13px;
     color: #777;
     font-weight: normal;
}

.treesearch .icon b {
     font-size: 16px;
     color: #777;
     font-weight: bold;
     display: block;
     margin-top: 2px;
}

.treesearch .search-text,
.treesearch .search-location {
     border: 0px;
     outline: 0px;
     padding: 0px 45px 0px 5px;
     font-size: 12px;
     font-weight: bold;
     width: 100%;
     line-height: 26px;
     border-radius: 0px;
     background: transparent;
}

.treesearch .search-location {
     border-top: 1px solid #ececeb;
     padding: 0px 8px 0px 58px;
     overflow: hidden;
}

.treesearch .search-location-icon {
     position: absolute;
     display: block;
     font-size: 10px;
     padding: 0px 3px;
     line-height: 16px;
     height: 16px;
     margin: 7px 5px 0px 5px;
}

.treesearch input:focus {
     background: #fafafa;
}


/************************** TREE ITEM ************************************/

.tree {
     flex: 1;
     overflow: auto;
}

.tree .ic {
     display: flex;
     float: left;
     height: 24px;
     align-items: center;
}

.hovered {
     background: #fafafa;
     box-shadow: inset 0 0 0 1px #333;
}

.tree-item {
     cursor: pointer;
     padding-left: 3px;
     display: flex;
     user-select: none;
     overflow: hidden;
     margin: 0px 2px;
     border-radius: 4px;
     -webkit-user-select: none;
}

.tree-item.draghover,
.tree-item.active {
     background: #888;
     color: #fff;
}

.tree-item.dragging {
     pointer-events: none;
     background: none;
     color: #333;
     background: white;
     color: #333;
     border: 1px solid #ccc;
     border-radius: 4px;
     padding: 0px 5px;
}

.tree-item.dragging .icon.arrow {
     display: none !important;
}

.tree-childs {
     padding-left: 15px;
}

.tree-item .icon {
     width: 20px;
     text-align: center;
}

.tree-item .icon img {
     max-width: 16px;
}

.tree-item .icon.arrow {
     width: 14px;
     cursor: pointer;
     display: inline-block;
     padding-left: 3px;
     text-align: center;
}

.tree-item .text {
     line-height: 24px;
     font-size: 12px;
     flex: 1;
     white-space: nowrap;
     display: inline-block;
     position: relative;
}

.tree-item .icon.unsaved {
     font-size: 9px;
     display: block;
     color: #29a02e;
     flex: 0 0 20px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.tree-item.active .icon.unsaved {
     color: #fff;
}


/*.tree-item:hover .text span {*/


/*    white-space:pre-wrap;*/


/*    word-wrap: break-word;*/


/*    word-break: break-all;*/


/*}*/

.tree-load-more {
     text-align: center;
     font-size: 13px;
     border-top: 1px solid #ccc;
     line-height: 50px;
     margin-top: 10px;
     padding-bottom: 5px;
     cursor: pointer;
}

.context-menu {
     position: fixed !important;
     z-index: 1000;
}

.context-menu .dropdown-menu {
     display: block;
     font-size: 13px;
     border-radius: 0px;
     padding: 0px;
}

.context-menu .dropdown-menu> li> a {
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     user-select: none;
     line-height: 16px;
     padding: 5px 10px;
}

.context-menu .dropdown-menu> li> a> i {
     font-size: 14px;
     width: 20px;
     text-align: center;
}

.context-menu-overlay {
     z-index: 999;
     position: fixed;
     top: 0px;
     left: 0px;
     right: 0px;
     bottom: 0px;
}

.paste-item {
     display: block;
     float: right;
     font-size: 11px;
     border-radius: 3px;
     background: #999;
     padding: 0px 4px;
     color: #fff;
     margin-right: -7px;
     font-weight: normal;
}

@media screen and (max-width: 768px) {
     .ui-splitbar {
          display: none !important;
     }
     .ui-layout-column .col-1 {
          top: 0px !important;
          left: 0px !important;
          width: 100% !important;
          display: block !important;
     }
     .ui-layout-column .col-2 {
          display: none !important;
     }
     .active .col-1 {
          display: none !important;
     }
     .active .col-2 {
          top: 0px !important;
          left: 0px !important;
          width: 100% !important;
          display: block !important;
     }
}
