.tf-container {
     padding:2px !important;
     cursor:text;
     min-height:30px !important;
     height:auto !important;
}
.tf-container .dropdown-menu li a {
     cursor:pointer;
}
.tf-container .dropdown-item.active a {
     background:#ececeb;
     color:black;
}
.tf-tag,.tf-input {
     display:inline-block;
     border-radius:2px;
     padding: 1px 4px;
     font-size:13px;
     border: 1px solid #ddd;
     background:white;
     margin: 0px 3px 2px 0px;
}
.tf-tag {
     margin:1px 3px 1px 1px;
}
.tf-tag:first-child {
}
.tf-tag,.tf-tag-last {
     position:relative;
     float:left;
}
.tf-tag-last {
     margin-left:0px;
}
.tf-tag .dropdown-menu {
     display:block;
}
.tf-tag-text {
     min-width:30px;
     display:inline-block;
     outline:none;
     padding-right: 13px;
}
.disabled .tf-tag-text {
     padding-right:4px;
     text-align:center;
}
.tf-tag-text.editing {
     color:transparent;
}
.tf-tag-remove:after {
     position:absolute;
     z-index:5;
     margin: -19px 0px 0px 4px;
     padding: 0px 4px;
     content: '⨉';
     font-weight:bold;
     display:block;
     right:0px;
     color:#666;
     cursor: pointer;
     font-size:11px;
     line-height:18px;
}
.tf-input, 
.tf-input-edit {
     padding:0px;
     outline:none;
     border:1px solid transparent;
     background:transparent;
     width:30px;
}
.tf-input {
     color:#333;
     padding:1px 0px 0px 1px;
}
.tf-input-edit {
     position:absolute;
     display:block !important;
     z-index:4;
     width:100%;
     color:transparent;
     top:0px;
     padding:0px 3px;
     left:0px;
     right:0px;
     bottom:0px;
}
.tf-input-edit.editing {
     color:black;
}