
.data-filter {
    margin: 0px -15px 0px -15px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    background: #fafafa;
    /*-webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.02);*/
    /*-moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.02);*/
    /*box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.02);*/
}

.data-filter.dash-filter {
    background: #fff;
    z-index: 120;
}

.dash-filter .filter-item-container > div > .btn-group > .btn {
    padding: 3px 10px 5px 10px;
    height: 28px !important;
}

.data-filter-type {
    width: 84px;
    float: left;
    border-right: 1px dotted #ececeb;
    margin: -4px 6px 0px 0px;
    padding: 4px;
    text-align: center;
}

.data-filter-name {
    border: 1px solid #ccc;
    font-size: 11px !important;
    font-weight: normal !important;
    color: #333 !important;
}

.data-filter-type .badge {
    width: 100%;
}

.filter-reset {
    color: #333;
    border-radius: 0px 3px 3px 0px !important;
    border: 1px solid #bbb !important;
    padding: 2px 3px 2px 3px !important;
    margin-top: 4px !important;
}

.dash-filter .filter-item-container > div > .btn-group > .filter-reset {
    margin-top: 0px !important;
    margin-left: -2px !important;
    padding-top: 3px !important;
    padding-bottom: 1px !important;
}

.filter-criteria {
    padding: 8px !important;
    font-size: 13px;
}

.filter-td {
    padding: 5px 10px 0px 10px;
}

.dash-filter .filter-td {
    padding: 5px 10px 1px 15px;
}

.filter-manage {
    width: 0px;
    padding: 5px 13px 5px 16px;
    border-right: 1px solid #ececeb;
    /*background: rgba(255, 255, 255, .3);*/
}

.dash-filter .filter-manage {
    display: none;
}

.filter-dropdown-label {
    margin: 0px;
    font-weight: normal;
    cursor: pointer;
}

.filter-item-container {
    padding-bottom: 5px;
    float: left;
}

.filter-manage label {
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.filter-manage a {
    padding: 3px 20px 3px 10px !important;
}

.filter-manage .btn {
    color: #aaa;
}

.filter-manage .btn .caret {
    margin: -2px -2px 0px 4px;
}