[grid-view] {
    padding-top: 10px
}

[grid-view] table {
    opacity: 0;
    width: 100%;
}

[grid-view] table.loaded {
    opacity: 1;
}

[grid-view] td, [grid-view] th {
    font-size: 13px;
    border: 1px solid #ddd;
    height: 20px;
}

[grid-view] th, [grid-view] .tr .th {
    background-color: #f2f2f2;
    vertical-align: middle !important;
    background-image: -moz-linear-gradient(top, #f5f5f5, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee);
    background-image: -o-linear-gradient(top, #f5f5f5, #eeeeee);
    background-image: linear-gradient(to bottom, #f5f5f5, #eeeeee);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd5f5f5', endColorstr='#ffeeeeee', GradientType=0);
    white-space: nowrap;
    text-transform: uppercase;
    color: #5E5E5E;
    font-size: 11px;
    text-align: left;
    line-height: 24px;
    min-height: 24px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    text-align: center;
}

[grid-view] .thead {
    display: none;
    border-left: 1px solid #ddd;
}

[grid-view] .thead .tr .th {
    box-sizing: border-box;
    display: inline-block;
    border: 0px !important;
    box-shadow: 0px 0px 0px 1px #ddd;
}

[grid-view] th i {
    margin-top: 2px;
}

[grid-view] .tr .th i {
    margin: 5px 7px 0px 0px;
}

[grid-view] .thead.show {
    position: fixed;
    display: block;
    white-space: nowrap;
}

[grid-view] td.rowSpanned {
    display: none;
}

[grid-view] .data-grid-paging {
    padding-bottom: 10px;
}

[grid-view] tr.g td {
    cursor: default;
    background: #ffc;
    box-shadow: none;
    text-transform: uppercase;
    color: #6F6F6F;
    font-size: 11px;
    font-weight: bold;
    border-left: 0px !important;
    border-right: 0px !important;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

[grid-view] tr.g td:first-child {
    border-left: 1px solid #ddd !important;
}

[grid-view] tr.g td:last-child {
    border-right: 1px solid #ddd !important;
}

[grid-view] td.aggregate {
    border-top: 2px solid #666;
}

[grid-view] td.aggregate.lv-0 {
    background: #ddd;
}

[grid-view] td.aggregate.lv-1 {
    background: #ececeb;
}

[grid-view] td.aggregate.lv-2 {
    background: #fafafa;
}

[grid-view] tr:hover td {
    background-color: #ececeb !important;
}

[grid-view] .row-group-padding {
    display: inline-block;
}

[grid-view] input[type=checkbox],
[grid-view] label {
    padding: 0px 0px 0px 0px;
    margin: 2px 0px -1px 0px;
}

[grid-view] .row-header {
    padding: 0px 5px;
}

[grid-view] .row-g,
[grid-view] .row-r,
[grid-view] .row-a {
    padding: 3px 5px 2px 5px;
    line-height: 17px;
}

[grid-view] .t-checkbox {
    width: 25px;
    text-align: center;
    padding: 0px;
}

[grid-view] .t-checkbox label {
    margin: 0px -5px -3px -5px;
    padding: 2px 5px;
}

[grid-view] .g .t-checkbox label {
    margin: 0px -5px -3px -4px;
}